{% extends "base/base.html" %}

{% block body%}

    <div class="container-fluid songs-container">
        <div class="row">
            <div class="col-sm-4 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body">  
                        <img src="https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/mCz7hqj/videoblocks-missing-stamp-on-green-screen-white-and-black_hc1xnrjz_thumbnail-full05.png" class="img-responsive">      
                        <h4>{{type}}</h1>
                     </div>
                </div>
            </div>
            <div class="col-sm-8 col-md-9">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h1> {{type}}</h1>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Image paths</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for  value in result %}
                                <tr>
                                    <td>{{value}}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table> 
                            
                    </div>
                </div>
            </div>
        </div>

    </div>
   
    <a href="javascript:" id="return-to-top"><i class="icon-chevron-up"></i></a>
    <div style="height:100px;"></div>
    <script>
    
        $(window).scroll(function() {
            if ($(this).scrollTop() >= 50) {        
                $('#return-to-top').fadeIn(200);   
            } else {
                $('#return-to-top').fadeOut(200);   
            }
        });
        $('#return-to-top').click(function() {      
            $('body,html').animate({
                scrollTop : 0                      
            }, 500);
        });

    </script>
    

{% endblock %}

