{% extends 'base/base.html' %}

{% block body %}
    <div class="albums-container container-fluid">
        {% for check in checks %}
            <form action="" method="post" style="display: inline; padding-left:30px">
                {% csrf_token %}
                <input type="hidden" name="check" value="{{check}}" />
                <button type="submit" class="btn btn-primary btn-lg" onclick="loadIndicator();" >{{check}}</button>
            </form>
        {% endfor %}
        
      
    </div>


{% endblock %}